.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;

}

.h1 {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: blanchedalmond;
  border-top: 2px solid blanchedalmond;
  border-bottom: 2px solid blanchedalmond;
}

.card-container {
  display: flex;
  border-radius: 8px;
  justify-content: space-around;

}

.current-temperature-card {
  height:fit-content;
  width: 300px;
  border: 1px solid black;
  background-color: #094293;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;

}

.name_day {
  margin: 10px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid blanchedalmond;
  text-align: initial;
}

.fecha_hora {
  height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid blanchedalmond;
  margin: 10px;
  font-weight: 600;
}

.image {
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid blanchedalmond;
}
.fecha_hora p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.icon {
  width: 40%;
  margin: 0 auto;
}

.weather-icon {
  width: 120px;
  height: 120px;
}

.temperatura_cuidad {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.grades {
  font-size: 45px;
  font-weight: 600;
}

.cuidad {
  margin-top: 10px;
  font-weight: 600;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.fontSize {
  font-size: 16px;
  padding: 0 10px;
}

.fontFamily {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  color: blanchedalmond;
}

.h2 {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.flex-center {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.temperature-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 20px;
  background-color: #094293;
  box-shadow: 5px 5px 5px black;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-mini {
  width: 60px;
  height: 60px;
}

.font {
  font-weight: 600;
  padding: 10px;
  font-size: 14px;
}

.mini-card {
  display: flex;
  height: 60px;
  margin: 15px;
}

.flex-row {
  display: flex;
  justify-content:center;
}

/* Estilos responsive */

@media only screen and (max-width: 768px) {
  .container{
    height: 100%;
    align-items: center;
    width: auto;
  }
  .card-container {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .current-temperature-card {
    width: auto;
    margin-bottom: 20px;
    height: auto;
  }
  .grades{
    font-size: 20px;
  }
  .name_day,
  .fecha_hora,
  .image,
  .temperatura_cuidad,
  .flex-center,
  .temperature-card,
  .mini-card {
    margin: 10px;
  }
  .temperature-card{
    justify-content: space-evenly;
    width: auto;
  }
 .mini-card{
   width: auto;
   justify-content: space-evenly;
 }

  .flex-row{
    flex-direction: column;
  }
}
