.container {
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #073576;
}

.h1 {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: blanchedalmond;
  border-top: 2px solid blanchedalmond;
  border-bottom: 2px solid blanchedalmond;
}

.card-container {
  display: flex;
  border-radius: 8px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.current-temperature-card {
  height: 420px;
  width: 300px;
  border: 1px solid black;
  background-color: #094293;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow:5px 5px 5px black;
}

.name_day {
  margin: 10px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid blanchedalmond;
  text-align:initial;
}

.fecha_hora {
  height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid blanchedalmond;
  margin: 10px;
  font-weight: 600;
}

.image {
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid blanchedalmond;
}

.icon{
  width: 40%;
  margin: 0 auto;
}

.weather-icon {
  width: 120px;
  height: 120px;
}

.temperatura_cuidad {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.grades {
  font-size: 45px;
  font-weight: 600;

}

.cuidad {
  margin-top: 10px;
  font-weight:600;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.fontSize {
  font-size: 16px;
  padding: 0 10px;
}

.fontFamily{
  font-family: 'Titillium Web', sans-serif;
  text-transform:uppercase ;
  color:blanchedalmond;
}

.h2 {
  width: 100%;
  text-align: center;
}

.flex-center{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.temperature-card{
  width: 360px;
  height: 80px;
  margin: 10px;
  border-radius: 20px;
  background-color: #094293;
  box-shadow:5px 5px 5px black;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-mini {
  width: 60px;
  height: 60px;
}

.font{
  font-weight: 600;
  padding: 10px;
  font-size: 14px;

}
