h1,h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.current-temperature-card {
  height: 340px;
  background-color: rgb(197, 194, 194);
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 50%;
  margin: 0 auto;
}
.image {
  width: 100%;
  position: relative;
  display: flex;
  height: 65%;
  justify-content: center;
  align-items: center;
}
.absolute-right{
  position: absolute;
  right: 50%;
}
.absolute-left{
  position: absolute;
  left: 65%;
}
.grades{
  font-size: 80px;
  color: whitesmoke;
}
.stats{
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
}



.stat{
  display: flex;
  justify-content: center;
  align-items: center;

}

.cuidad{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 65%;
  background-color: rgb(21, 43, 191);
  color:whitesmoke;
  border-right:1px solid whitesmoke ;
}

.temperatura__Actual{
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  background-color:  rgb(21, 43, 191);
  color:whitesmoke;
  text-transform: uppercase;
  border-right: 1px solid whitesmoke;
}

.sensacion__Termica{
  width: 35%;
  background-color:  rgb(21, 43, 191);
  color:whitesmoke;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


.weather-icon {
  width: 120px;
  height: 120px;

}

h2{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.temperature-card {
  width: 340px;
  height: 420px;
  background-color: rgb(197, 194, 194);
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 10px;
}



.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}


/*
.city{
  font-size: 18px;
  font-weight: 600;
  width: 35%;
}
*/
.fecha__hora{
  font-family: Arial, Helvetica, sans-serif;
  width: 65%;
  color: whitesmoke;
  background-color: rgb(21, 43, 191);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.temp{
  width: 35%;
  font-size: 18px;
  font-weight: 600;
}

.temp__Max{
  width: 50%;
}

.temp__Min{

  width: 50%;
}

.flex__Column{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dia {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

