<div class="container">
  <div class="h1 fontFamily">
    <h1>Pronóstico del tiempo para Capital Federal</h1>
  </div>

  <div class="card-container">
    <div class="flex-center">
      <h2 class="h2 fontFamily">Clima Actual</h2>
      <div
        class="current-temperature-card"
        *ngIf="weatherCurrent && weatherCurrent != undefined"
      >
        <div class="name_day fontFamily">{{ getDia() }}</div>

        <div class="fecha_hora">
          <p class="fontFamily">{{ getCurrentDate() }}</p>
          <p class="fontFamily">{{ getCurrentTime() }}</p>
        </div>

        <div class="image">
          <div class="icon">
            <img
              class="weather-icon"
              src="{{ getIcon(weatherCurrent.weather[0].icon) }}"
              alt=""
            />
          </div>

          <div class="temperatura_cuidad">
            <div class="grades fontFamily">
              {{ weatherCurrent.main.temp }}°C
            </div>
            <div class="cuidad fontFamily">
              {{ weatherCurrent.name }}
            </div>
          </div>
        </div>

        <div class="stats">
          <div class="fontSize fontFamily">
            St: {{ weatherCurrent.main.feels_like }}°C
          </div>
          <div class="fontSize fontFamily">
            humedad: {{ weatherCurrent.main.humidity }}%
          </div>
        </div>
      </div>
    </div>

    <div class="flex-center">
      <div class="h2 fontFamily">
        <h2>Pronóstico para las próximas 24hs</h2>
      </div>
      <div *ngFor="let weather of weatherForecast; let i = index">
        <div class="temperature-card" *ngIf="i < 5">
          <div class="flex">
            <div class="fontFamily font">{{ getDayName(weather.dt_txt) }}</div>
            <img
              class="weather-icon icon-mini"
              src="{{ getIcon(weather.weather[0].icon) }}"
              alt=""
            />
            <div class="fontFamily font">{{ weather.main.temp }}°C</div>
            <div class="fontFamily font">
              {{ getFormattedDateTime(weather.dt_txt) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="h2 fontFamily">pronóstico del tiempo extendido</h2>
  <div class="flex-row">
    <div *ngFor="let weather of weatherForecast; let i = index">
      <div
        class="temperature-card mini-card"
        *ngIf="i >= 5 && i < 32 && isStartOfDay(weather)"
      >
        <div class="flex">
          <div class="fontFamily font">{{ getDayName(weather.dt_txt) }}</div>
          <img
            class="weather-icon icon-mini"
            src="{{ getIcon(weather.weather[0].icon) }}"
            alt=""
          />
          <div class="fontFamily font">
            {{ getMaxTemperatureOfDay(weather) }}°C
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
