<h1>Pronóstico del tiempo para Capital Federal</h1>
<img *ngIf="weatherCurrent && weatherCurrent!=undefined" src="{{base_url}}/{{ weatherCurrent.weather[0].icon}}@2x.png" alt="">
<p *ngIf="weatherCurrent && weatherCurrent!=undefined">{{ weatherCurrent.name }} {{ weatherCurrent.sys.country }}, temperatura acutal: {{ weatherCurrent.main.temp }}°C sensacion termica: {{ weatherCurrent.main.feels_like }}°C</p>
<h2>Pronóstico para hoy a las {{ currentTimestamp }}:</h2>
<div *ngFor="let weather of weatherForecast; let i = index">
  <div *ngIf="i < 8">
    <img src="{{base_url}}/{{ weather.weather[0].icon}}@2x.png" alt="">
    <p> <strong>{{city}}</strong> {{weather.dt_txt}} {{ weather.main.temp }}°C , {{ weather.weather[0].description }}</p>
  </div>
</div>

<h2>Pronóstico para los próximos 4 días:</h2>
<div *ngFor="let weather of weatherForecast; let i = index">
  <div *ngIf="i >= 8 && i < 32">
    <img src="{{base_url}}/{{ weather.weather[0].icon}}@2x.png" alt="">

    <p> {{ weather.dt_txt }} {{ weather.main.temp }}°C - {{ weather.weather[0].description }}</p>
  </div>
</div>
